<form 
    name="login-form" 
    (ngSubmit)="login()">
    <div>
        <div>
            Username:
        </div>
        <div>
            <input 
                name="username" 
                type="text" 
                [(ngModel)]="username" />
        </div>

        <div>
            Password:
        </div>
        <div>
            <input 
                name="passowrd" 
                type="text" 
                [(ngModel)]="password" 
                type="password" />
        </div>

        <div>
            {{ errors }}
        </div>

        <div>           
            <button 
                type="submit">Login</button>      
           
        </div>
    </div>

</form>